{% load i18n %}  {# Base Template for mails issued by Ikwen NoDev application. It includes a signature with Ikwen and NoDev #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{{ company_name }} - {{ subject }}</title>
    </head>
    <body style="background: #f6f6f6; font: normal 78% 'Open Sans', 'Helvetica Neue', Lato, Verdana, Arial, sans-serif; margin: 0; padding-top: 15px">
        <div style="background: #fff; margin: 0 auto; padding: 0; width: 90%">
            {% block header %}
                <div>
                    <a href="{{ service_url }}" style="display: block; float: left; width: 20%">
                        <img src="{{ logo_url }}" style="margin: 9px 0 0 9px" alt="logo" height="120"/>
                    </a>
                    <div style="float: left; width: 80%">
                        <div style="float: left; margin-left: 36px">
                            <p style="color: #888; float: left; font-size: 3.6em; margin: 15px 0 0 25px">{{ config.company_name }}</p>
                            <p style="color: #888; clear: both; float: left; font-size: 1.8em; margin-left: 25px">{{ config.short_description }}</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            {% endblock %}

            {% block content %}
                <p style="color: #888; font-size: 1.35em; line-height: 1.44em; margin-top: 45px; min-height: 180px; padding: 0 15px; text-align: justify">
                    {% trans "Hello" %} <strong>{{ username }}</strong>,
                    <br>
                </p>
                <p style="color: #888; font-size: 1.35em; line-height: 1.44em; min-height: 180px; padding: 0 15px; text-align: justify">
                    {% trans "You asked a password reset for email" %} {{ email }}. {% trans "Click the button below" %}:<br/><br/>
                    <a href="{{ protocol }}://{{ domain }}{{ reset_password_url }}" target="_blank"
                       style="background: #16991D; border-radius: 3px; clear: both; color: #fff; display: block; font-size: 1.35em; font-weight: bold; margin: 20px auto; padding: 12px 45px; text-align: center; text-decoration: none; text-transform: uppercase; width: 200px">
                        {% trans "Reset password" %}
                    </a>
                    <br><br><br>
                </p>
            {% endblock %}

            {% if config.signature %} {# SIGNATURE #}
                <p style="color: #999; font-size: 1.1em; line-height: 1.35em; margin-top: 10px; padding: 0 15px; text-align: justify; width: 240px">
                    {{ config.signature|safe }}
                </p>
            {% endif %} {# END SIGNATURE #}

            {% if legal_notice %} {# LEGAL NOTICE #}
                <p style="color: #aaa; font-size: .9em; line-height: 1.3em; padding: 30px 15px 0; text-align: justify">
                    {{ legal_notice|safe }}
                </p>
            {% endif %} {# END LEGAL NOTICE #}
            <footer style="clear: both; height: 130px; padding: 30px 9px 0">
                <div>
                    <nav style="float: left">
                        <ul style="margin: 0; padding: 0">
                            {% if config.contact_url %}
                                <li style="display: inline; margin-right: 15px">
                                    <a style="color: #888; text-decoration: none" href="{{ config.contact_url }}">{% trans "Contact" %}</a>
                                </li>
                            {% endif %}
                            {% if config.about_url %}
                                <li style="display: inline">
                                    <a style="color: #888; text-decoration: none" href="{{ config.about_url }}">{% trans "About us" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div style="color: #888; float: right; font-size: .9em; padding: 1px 0 10px; text-align: right">
                        &copy; {{ year }} <a href="{{ service.url }}" style="color: #666; text-decoration: none"><strong>{{ config.company_name }}</strong></a>.
                        {% trans "All rights reserved." %}
                        {% if config.legal_mentions_url %}
                        - <a href="{{ config.legal_mentions_url }}" style="color: #666; text-decoration: none">{% trans "Legal mentions" %}</a>
                        {% endif %}
                    </div>
                    {% if service.project_name != 'ikwen' %}
                    <div style="color: #888; border-top: solid 1px #DDD; clear: both; float: right; font-size: .9em; margin-top: 6px; padding: 3px 0 15px; text-align: right; width: 100%">
                        {% blocktrans %}
                            Powered by <a href="{{ protocol }}://{{ domain }}" style="color: #666; text-decoration: none"><strong>TSD</strong></a> &reg;.
                        {% endblocktrans %}
                    </div>
                    {% endif %}
                </div>
            </footer>
        </div>
    </body>
</html>